/* dev.com styles */

body {
    background-color: whitesmoke;
    margin: 20px 20px 0px 20px;
    font-family: 'Acme', sans-serif;
    font-family: 'Rokkitt', serif;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

.main {
    flex: 1;
}

h1 {
    font-family: 'Acme', sans-serif;
    font-size: 4rem;
}

h2 {
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
}

.box p{
    font-family: 'Rokkitt', serif; 
    font-size: 1.5rem;
}

li {
    font-size: 1.5rem;
}

.giraffe {
    color: yellowgreen;
}

.life {
    color: orangered
}

span.creating {
    color: blueviolet;
}

span.random {
    color: Turquoise;
}

footer {
    font-size: 20px;
    text-align: right;
    color: blue
}

.tile-image {
    height: 240px;
    width: 370px;
    margin-right: 50px;
}

.box {
    width: 47%;

}

.first {
    float: left;
}

.second {
    float: right;
}

.first img, .second img {
    float: left;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
        text-align: center;
    }

    .logo {
        width: 130px;
    }

    footer {
        text-align: center;
    }

    span.creating {
        color: turquoise;
    }

    span.random {
        color: blueviolet
    }

    .box {
        display: block;
        width: 100%;
    }

    .tile-image {
        display: inline-block;
        width: 100%;
        height: auto;
    }
}